<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <title>{% block title %}INSYS {% endblock %}</title>
        {% block stylesheets %}
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/fontawesome/css/all.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <header>
            <!-- Fixed navbar -->
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
                <a class="navbar-brand" href="{{ path('homepage') }}">INSYS</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuhome" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('homepage') }}"><i class="fa fa-home fa-lg"></i> INICIO <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item nav-item-right dropdown active">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-cogs fa-lg"></i> Administrar
                            </a>
                            <div class="dropdown-menu" aria-labelledby="admininfo">
                                <a class="dropdown-item" href="{{ path('camposafinespage') }}"><i class="fas fa-th"></i> Campos Afines</a>
                                <a class="dropdown-item" href="{{ path('usuariospage') }}"><i class="fas fa-users-cog"></i> Usuarios</a>
                                <a class="dropdown-item" href="{{ path('estatuspage') }}"><i class="fas fa-question-circle"></i> Estatus</a>
                            </div>
                        </li>
                    </ul>
                    <ul class="navbar-nav  float-lg-right float-md-right">
                        <li class="nav-item nav-item-right dropdown active">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0);" id="userinfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle fa-lg mr-2"></i>{% block username %}No Logueado{% endblock %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="userinfo">
                                <a class="dropdown-item" href="javascript:void(0);"><i class="fa fa-user-circle"></i> Perfil</a>
                                <a class="dropdown-item" href="{{ path('logout') }}"><i class="fa fa-sign-out-alt"></i> Salir</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <!-- Begin page content -->
        <main role="main" class="container-fluid mt-5 pt-3">
            {% block body %}

            {% endblock %}
        </main>

        <footer class="page-footer fixed-bottom text-white" style="background-color: rgba(128,128,128,0.9); font-size: 18px;">
            {% block footer %}
                <!-- Copyright -->
                <div class="footer-copyright text-left py-2">© 2018 Copyright: <a href="mailto:yansellrivasdiaz@gmail.com" class="text-white">Ing. Yansell Rivas</a></div>
                <!-- Copyright -->
            {% endblock %}
        </footer>
        {% block javascripts %}
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ asset('assets/js/jquery.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.js') }}"></script>

        {% endblock %}
    </body>
</html>