{# app/Resources/views/registration/register.html.twig #}
{% extends 'base.html.twig' %}
{% block title %}{{ parent() }}| REGISTRARSE{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-12 col-sm-10 offset-md-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3 mt-2">
            <div class="card">
                <div class="card-header text-center text-white bg-primary"><div class="h5"><i class="fa fa-user-plus fa-lg"></i> Registro usuario</div></div>
                {{ form_start(form,{'attr':{'class':'card-body'}})}}
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.nombre,{'attr':{'class':'form-control form-control-sm','placeholder':'Nombre'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.apellido,{'attr':{'class':'form-control form-control-sm','placeholder':'Apellidos'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.email,{'attr':{'class':'form-control form-control-sm','placeholder':'Email'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.plainPassword.first,{'attr':{'class':'form-control form-control-sm','placeholder':'Contraseña'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_row(form.plainPassword.second,{'attr':{'class':'form-control form-control-sm','placeholder':'Repetir contraseña'}}) }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            {{ form_row(
                                form.Registrarse,{'attr':{'class':'btn btn-primary btn-sm float-right'}}
                            )}}
                            <a href="/app_dev.php/login" class="btn btn-link float-right" style="font-weight: bold;">Ir al Login</a>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}